// Global css variables that are used across app 

$font-roboto: Roboto,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
$color-tweet-theme: #80a8cc; 
$color-primary : #fffbf5;
$color-icon: #c6c1b0; 